<% if message.role == "user" %>
  <div class="message-wrapper user d-flex justify-content-end my-1">
    <div class="pill d-inline-block rounded-pill px-3 py-2 text-break">
      <div class="generated-message">
        <%= raw(render_markdown(message.content)) %>
      </div>
    </div>
  </div>
<% else %>
  <div class="message-wrapper assistant my-2">
    <div class="card border-dark bg-white rounded-3 w-100">
      <div class="card-body p-3 text-dark text-break">
        <div class="generated-message">
          <%= raw(render_markdown(message.content)) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
