// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Paleta do projeto
$blue-900: #154D71; //
$blue-700: #1C6EA4; //
$blue-400: #33A1E0; //
$butter:   #FFF9AF; //
$snow:     #FFFAFA; // 

// Neutros
$ink:   #0b1721; // texto forte
$muted: #6b7b8c; // texto secundário
$line:  #e6edf3; // bordas claras
