// Import page-specific CSS files here.
@import "home";

body {
  background-color: $snow;
}

.main-blue-text, strong {
  color: $blue-900;
}

.secondary-blue-text {
  color: $blue-700;
}


.solid-button {
  background-color: $blue-700;
  color: $snow;
  border-color: $blue-700;
    &:hover{
      background-color: $blue-400;
      color: $snow;
      border-color: $blue-400;
    }
}

.outline-button {
  background-color: white;
  color: $blue-700;
  border-color: $blue-700;
    &:hover{
      background-color: $blue-700;
      color: $snow;
      border-color: $blue-700;
    }
}

.white-background {
  background-color: white;
}

.blue-icon {
  color: $blue-900;
    &:hover{
      color: #E63946;
      font-size: 18px;
    }
}

.box-shadow {
  box-shadow: 0 4px 8px rgba(21, 77, 113, 0.08);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 8px 16px rgba(21, 77, 113, 0.16);
    transform: translate(2px, 2px);
  }
}
