@import "home";

input.form-control::placeholder {
  color: #bbb;
}

.form-control {
  background-color: white;
  border: 1px solid #ced4da;
  box-shadow: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:focus{
      outline: 0;
      border-color: #1C6EA4;
      box-shadow: inset 0 1px 3px rgba(28, 110, 164, 0.2);
    }
}
