<div class="home-picture">
  <div class="picture-bg">
    <div class="container text-center">
      <h1 class="display-3 fw-bold">Itinero</h1>
      <p class="lead mt-3">Travel planning, simplified.</p>
      <%= link_to "Create your travel itinerary", new_itinerary_path, class: "btn btn-primary btn-lg mt-4" %>
    </div>
  </div>
</div>
