.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 88%;
  margin: 0 auto;         /* centraliza */
  padding-left: 1rem;     /* respiro lateral (gutters) */
  padding-right: 1rem;
  @media (min-width: 576px)  { .navbar-lewagon .container-fluid { max-width: 540px;  } }
  @media (min-width: 768px)  { .navbar-lewagon .container-fluid { max-width: 720px;  } }
  @media (min-width: 992px)  { .navbar-lewagon .container-fluid { max-width: 960px;  } }
  @media (min-width: 1200px) { .navbar-lewagon .container-fluid { max-width: 1140px; } }
  @media (min-width: 1400px) { .navbar-lewagon .container-fluid { max-width: 1320px; } }
}
